@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Lobster&family=Prompt&display=swap');

body {
    text-align: center;
    background-color: #FFF6F7;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin: auto;
}

h2 {
    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin: auto;
    padding: 20px;
}

#rules {
    font-family: 'Prompt', sans-serif;
    border: 5px solid #1E4968;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 5px;
    background-color: #8BC5D2;
}

#board {
    width: 500px;
	height: 500px;
	margin: 0 auto;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 5px solid #1E4968;
    border-radius: 4em;
    background-color: #8BC5D2;
    
}

.box {
    border: 3px solid #1E4968;
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BBDED7;
    font-size: 75px;
    font-family: lobster, sans-serif;
    
}

#restart {
    padding: 10px;
    background-color: #BBDED7;
    border-radius: 50px;
    border: 3px solid #1E4968;
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
    font-weight: bolder;
}